html {
	text-align: center;
	font-size: 100%;
	font-family: 'Orbitron', sans-serif;
	//background-color: #447744;
	//color: #dddddd;
	color: #669966;
}
h1.title {
	font-size: 300%;
	margin-bottom: 10px;
}
table {
        border-collapse: collapse;
        margin: 0 auto;
}
div {
	align: center;
	margin: 0 auto;
}
div#board {
	width: 550;
	height: 550;
	position: relative;
	display: inline-block;
}
table#piece {
	width: 550;
	height: 550;
	display: inline-block;
}
div.tri {
        padding: 0;
        margin: 0;
        text-align: center;
	width: 0px;
	height: 0px;
	border-style: solid;
	position: absolute;
}
.tri_dn {
	border-width: 0 25px 43px 25px;
	border-color: transparent transparent #D0D0D0 transparent;
}
.tri_up {
	border-width: 43px 25px 0 25px;
	border-color: #EEEEEE transparent transparent transparent;
}
.disabled{
    pointer-events: none;
}
.tri_dn_p {
	border-width: 0 15px 26px 15px;
	border-color: transparent transparent #4444EE transparent;
}
.tri_up_p {
	border-width: 26px 15px 0 15px;
	border-color: #4444EE transparent transparent transparent;
}
.piece_box {
	width: 140;
	height: 120;
	position: relative;
}
.selected_box {
	box-shadow: 10px 5px 5px black;
}
/*
div.tri_dn:hover {
	border-color: transparent transparent #5555EE transparent;
}
div.tri_up:hover {
	border-color: #5555EE transparent transparent transparent;
}
*/
div.piece_box:hover {
	background-color: #EEEEEE;
}
button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	color: inherit;
}
button:disabled {
	color: #aaddaa;
}
span.eval {
	font-size: 100%;
}
img {
	height: 40px;
	margin: 0;
	padding: 0;
}
